html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	cursor: default;
	font-family: 'Indie Flower';
	background-color: #41c146;
}

#body_wrapper{
	height: 100%;
	width: 100%;
	float: left;
	overflow: hidden;
}

/**********/
/*Page One*/
/**********/

#h_one {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 75px;
	text-align: center;

}

#start_arrow {
	width: 0;
	height: 0;
	text-align: center;
	border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
	border-left: 100px solid #000000;
	position: absolute;
	right: 5%;
	top: 50%;
	transition: border-left 0.3s ease-out;
	cursor: pointer;

}

#start_arrow:hover{
	border-left: 100px solid #ffffff;
}

#slide{
	height: 200%;
	width: 400%;
	margin-left: 0;
}

.panel {
	height: 50%;
	width: 25%;
	float: left;
	position: absolute;
}

/**********/
/*Page Two*/
/**********/

#page_two{
	background-color: #efefef;
	font-family: 'Roboto';
}

#h_two {
	position: relative;
	width: calc(100% - 235px);
	text-align: center;
	left: 235px;
}

#navig{
	position: absolute;
	font-size: 30px;
	float: left;
	padding: 20px;
	height:100%;
	background-color: #41c146;
}
nav li{
	color: #000;
	transition: color 0.2s linear;
}

nav li:hover{
	color: #fff;
	cursor: pointer;
}

#txt_wrapper {
	width: calc(100% - 235px);
	position: relative;
	left: 235px;
	text-align: center;
	font-size: 25px;
}

/*************/
/*Application*/
/*************/

#page_app {

}
